<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EmailPasswordDAO">
	<insert id="InsertEmailPasswordConfirm" parameterType="com.bean.EmailPasswordConfirm">
		insert into EmailPasswordConfirm
		values
		(#{UserId},#{ConfirmStatus})
	</insert>
	<update id="UpdateEmailPasswordConfirm" parameterType="com.bean.EmailPasswordConfirm">
		update EmailPasswordConfirm set
		UserId=#{UserId},
		ConfirmStatus=#{ConfirmStatus}
		where EmailPasswordConfirmID=#{EmailPasswordConfirmID}
	</update>
	

	<select id="SelectEmailPasswordConfirmByStatus" parameterType="String"
		resultType="com.bean.EmailPasswordConfirm">
		select * from EmailPasswordConfirm where status = #{status}
	</select>

	<select id="SelectEmailPasswordConfirmByUserId" parameterType="String"
		resultType="com.bean.EmailPasswordConfirm">
		select * from EmailPasswordConfirm where UserId = #{UserId}
	</select>
</mapper>